/* Base sidebar styling */
.side-bar {
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-spacing: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
}

.side-bar > HBox {
    -fx-alignment: center-left;
}

.logo {
    -fx-image: url("../image/logo.png");
    -fx-fit-height: 30;
    -fx-fit-width: 30;
}

.name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
}

.nav-menu {
    -fx-spacing: 20;
    -fx-padding: 10 0;
    -fx-alignment: center;
    -fx-fill-width: true;
}

/* Navigation buttons styling */
.nav-button {
    -fx-max-width: 250px;
    -fx-background-color: transparent;
    -fx-padding: 10 15;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-alignment: center-left;
    -fx-text-fill: black;
    -fx-min-height: 40px;
}

.nav-button:hover {
    -fx-background-color: #f0f2f5;
}

.nav-button:selected, .nav-button:focused {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.ikonli-font-icon {
    -fx-fill: #6c757d;
}

.nav-button:selected .ikonli-font-icon,
.nav-button:focused  .ikonli-font-icon {
    -fx-fill: white;
}

.side-bar.collapsed {
    -fx-min-width: 70px;
    -fx-pref-width: 70px;
    -fx-max-width: 70px;
}

.side-bar.collapsed .nav-menu .nav-button {
    -fx-content-display: graphic-only;
}

.side-bar.collapsed .name {
    -fx-content-display: graphic-only;
}

